<!DOCTYPE html>
<html lang="ko" xmlns:th="https://www.thymeleaf.org">

<head>
    <meta charset="utf-8"/>
    <meta content="IE=edge" http-equiv="X-UA-Compatible"/>
    <meta content="width=device-width, initial-scale=1, shrink-to-fit=no" name="viewport"/>
    <meta content="" name="description"/>
    <meta content="" name="author"/>
    <title>Community Main Page</title>
    <link href="https://cdn.jsdelivr.net/npm/simple-datatables@7.1.2/dist/style.min.css" rel="stylesheet"/>
    <link href="/css/styles.css" rel="stylesheet"/>
    <script crossorigin="anonymous" src="https://use.fontawesome.com/releases/v6.3.0/js/all.js"></script>
    <link href="https://cdn.jsdelivr.net/npm/bootswatch@5.3.2/dist/sketchy/bootstrap.min.css" rel="stylesheet">
    <script src="https://code.jquery.com/jquery-3.4.1.js"></script>
    <style>
        .scrollbar::-webkit-scrollbar {
            width: 10px;
        }

        .scrollbar::-webkit-scrollbar-thumb {
            background: #646464;
            border-radius: 10px;
        }

        .scrollbar::-webkit-scrollbar-track {
            background: #c8c8c8;
            border-radius: 10px;
        }

        #menubar::-webkit-scrollbar {
            display: none;
        }

        button, .cursor-pointer {
            cursor: pointer;
        }

    </style>

</head>

<body class="sb-nav-fixed">
<nav class="sb-topnav navbar navbar-expand navbar-dark bg-dark">
    <!-- Navbar Brand-->
    <a class="navbar-brand ps-3" href="index.html">Undefined</a>
    <!-- Sidebar Toggle-->
    <button class="btn btn-link btn-sm order-1 order-lg-0 me-4 me-lg-0" href="#!" id="sidebarToggle"><i
            class="fas fa-bars"></i></button>
    <!-- Navbar-->
    <ul class="navbar-nav ms-auto me-0 me-md-3 my-2 my-md-0">
        <li class="nav-item dropdown">
            <a aria-expanded="false" class="nav-link dropdown-toggle" data-bs-toggle="dropdown" href="#"
               id="navbarDropdown"
               role="button"><i class="fas fa-user fa-fw"></i></a>
            <ul aria-labelledby="navbarDropdown" class="dropdown-menu dropdown-menu-end">
                <li><a class="dropdown-item" href="#!">Profile</a></li>
                <li>
                    <hr class="dropdown-divider"/>
                </li>
                <li><a class="dropdown-item" href="#!">Login</a></li>
            </ul>
        </li>
    </ul>
</nav>
<div id="layoutSidenav">
    <div id="layoutSidenav_nav">
        <nav class="sb-sidenav accordion sb-sidenav-light" id="sidenavAccordion">
            <div class="sb-sidenav-menu">
                <div class="nav">
                    <!--Home-->
                    <div class="sb-sidenav-menu-heading">Home</div>
                    <a class="nav-link" href="index.html">
                        <div class="sb-nav-link-icon"><i class="fas fa-tachometer-alt"></i></div>
                        Dashboard
                    </a>

                    <!--Category-->
                    <div class="sb-sidenav-menu-heading">Category</div>
                    <!--Study-->
                    <a aria-controls="collapseLayouts" aria-expanded="false" class="nav-link collapsed"
                       data-bs-target="#collapseLayouts" data-bs-toggle="collapse" href="#">
                        <div class="sb-nav-link-icon"><i class="fas fa-book-open"></i></div>
                        Study/Project
                        <div class="sb-sidenav-collapse-arrow"><i class="fas fa-angle-down"></i></div>
                    </a>
                    <div aria-labelledby="headingOne" class="collapse" data-bs-parent="#sidenavAccordion"
                         id="collapseLayouts">
                        <nav class="sb-sidenav-menu-nested nav">
                            <a class="nav-link" href="layout-static.html">Menu1</a>
                            <a class="nav-link" href="layout-sidenav-light.html">Menu2</a>
                        </nav>
                    </div>

                    <!--QnA-->
                    <a aria-controls="collapseQnA" aria-expanded="false" class="nav-link collapsed"
                       data-bs-target="#collapseQnA" data-bs-toggle="collapse" href="#">
                        <div class="sb-nav-link-icon"><i class="fa-solid fa-comments"></i></div>
                        QnA
                        <div class="sb-sidenav-collapse-arrow"><i class="fas fa-angle-down"></i></div>
                    </a>
                    <div aria-labelledby="headingOne" class="collapse" data-bs-parent="#sidenavAccordion"
                         id="collapseQnA">
                        <nav class="sb-sidenav-menu-nested nav">
                            <a class="nav-link" href="layout-static.html">Menu1</a>
                            <a class="nav-link" href="layout-sidenav-light.html">Menu2 </a>
                        </nav>
                    </div>

                    <!--Job Info-->
                    <a aria-controls="collapseJobInfo" aria-expanded="false" class="nav-link collapsed"
                       data-bs-target="#collapseJobInfo" data-bs-toggle="collapse" href="#">
                        <div class="sb-nav-link-icon"><i class="fa-solid fa-circle-info"></i></div>
                        Job Info
                        <div class="sb-sidenav-collapse-arrow"><i class="fas fa-angle-down"></i></div>
                    </a>
                    <div aria-labelledby="headingOne" class="collapse" data-bs-parent="#sidenavAccordion"
                         id="collapseJobInfo">
                        <nav class="sb-sidenav-menu-nested nav">
                            <a class="nav-link" href="layout-static.html">Menu1</a>
                            <a class="nav-link" href="layout-sidenav-light.html">Menu2 </a>
                        </nav>
                    </div>

                    <!--Community-->
                    <a aria-controls="collapseCommu" aria-expanded="false" class="nav-link collapsed"
                       data-bs-target="#collapseCommu"
                       data-bs-toggle="collapse" href="#">
                        <div class="sb-nav-link-icon"><i class="fa-solid fa-users-between-lines"></i></div>
                        Community
                        <div class="sb-sidenav-collapse-arrow"><i class="fas fa-angle-down"></i></div>
                    </a>
                    <div aria-labelledby="headingTwo" class="collapse" data-bs-parent="#sidenavAccordion"
                         id="collapseCommu">
                        <nav class="sb-sidenav-menu-nested nav accordion" id="sidenavAccordionPages">
                            <a class="nav-link" th:href="@{/community/list}">Main</a>
                            <a class="nav-link" th:href="@{/community/write}">Write</a>
                            <a aria-controls="collapseMyFeed" aria-expanded="false" class="nav-link collapsed"
                               data-bs-target="#collapseMyFeed" data-bs-toggle="collapse" href="#">
                                My Feed
                                <div class="sb-sidenav-collapse-arrow"><i class="fas fa-angle-down"></i></div>
                            </a>
                            <div aria-labelledby="headingOne" class="collapse" data-bs-parent="#sidenavAccordionPages"
                                 id="collapseMyFeed">
                                <nav class="sb-sidenav-menu-nested nav">
                                    <a class="nav-link" th:href="@{/comp/list}">완료글</a>
                                    <a class="nav-link" th:href="@{/temp/list}">임시저장</a>
                                    <a class="nav-link" th:href="@{/trash/list}">휴지통</a>
                                </nav>
                            </div>
                        </nav>
                    </div>

                    <div class="sb-sidenav-menu-heading">Account</div>
                    <a class="nav-link" href="charts.html">
                        <div class="sb-nav-link-icon"><i class="fas fa-chart-area"></i></div>
                        Profile
                    </a>
                    <a class="nav-link" href="tables.html">
                        <div class="sb-nav-link-icon"><i class="fas fa-table"></i></div>
                        Login
                    </a>
                </div>
            </div>
            <div class="sb-sidenav-footer">
                <div class="small">Logged in as:</div>
                undefined<!-- <= 로그인시 해당 유정의 닉네임으로 변경, 로그아웃시에는 undefined-->
            </div>
        </nav>
    </div>
    <div id="layoutSidenav_content">
        <main>

            <div class="container-fluid px-4">
                <div style="height: 30px;"></div>

                <!--search bar-->
                <div class="row justify-content-center">

                    <div class="d-flex justify-content-center mb-2" style="max-width: 576px;">
                        <form class="w-100" id="searchForm" method="get" style="max-width: 576px;"
                              th:action="@{/community/search}">
                            <fieldset class="d-flex">
                                <div class="form-group col-2">
                                    <select class="form-select" name="searchOption">
                                        <option class="dropdown-item" th:selected="${option} == 'all'" value="all">All
                                        </option>
                                        <option class="dropdown-item" th:selected="${option} == 'nick'" value="nick">
                                            Nickname
                                        </option>
                                        <option class="dropdown-item" th:selected="${option} == 'tag'" value="tag">Tag
                                        </option>
                                    </select>
                                </div>

                                <div class="form-group col-8">
                                    <input class="form-control" name="keyword" placeholder="search" type="text">
                                </div>

                                <button class="btn btn-primary col-2" id="searchSubmit" type="submit">Submit</button>
                            </fieldset>
                        </form>
                    </div>


                </div>

                <!--검색 결과 수 보여주기-->
                <div class="row justify-content-center">
                    <div class="text-start fs-6" style="max-width: 576px;">
                        <p>검색 결과 <span th:text="${totalCnt}">0</span> 개의 피드가 발견되었습니다. (<span th:text="${searchTime}">0.00</span>
                            sec)</p>
                    </div>
                </div>

                <!--피드 글 보여주기-->
                <div class="row" th:each="feed : ${list}">
                    <div class="d-flex justify-content-center mt-1">
                        <div class="card mb-3" style="width : 576px;">
                            <div class="card-header container" style="max-width : 576px;">
                                <div class="row">
                                    <h3 class="text-start col-9 col-sm-8 pt-2" th:text="${feed.user.nickname}">
                                        Nickname</h3>
                                    <p class="text-end col-3 col-sm-4 pt-3" style="font-size: 0.8em;"
                                       th:text="${#dates.format(feed.feedRegdate, 'yyyy.MM.dd HH:mm')}">
                                        2020.03.12
                                    </p>
                                </div>
                            </div>


                            <div class="card-body col-12">
                                <h5 class="card-title" th:text="${feed.feedTitle}">feed title</h5>
                                <p th:class="${'card-text col-12 feedText'+feed.feedId}" th:if="${feed.shortContent}"
                                   th:text="${feed.shortContent}">content</p>
                                <p th:class="${'card-text col-12 feedText'+feed.feedId}"
                                   th:text="${feed.feedContent}" th:unless="${feed.shortContent}">content</p>
                            </div>

                            <button th:class="${'btn btn-link text-start ps-0 more'+feed.feedId}"
                                    th:if="${feed.shortContent}" type="button">
                                <p class="card-text text-muted ms-3">more...</p>
                            </button>


                            <div class="container" style="padding: 0 25px;">
                                <div class="row">
                                    <div class="col-6"
                                         style="height: 100px; border: 1px solid; text-align: center; line-height: 100px;">
                                        photo1
                                    </div>
                                    <div class="col-6"
                                         style="height: 100px; border: 1px solid; text-align: center; line-height: 100px;">
                                        photo2
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-6"
                                         style="height: 100px; border: 1px solid; text-align: center; line-height: 100px;">
                                        photo3
                                    </div>
                                    <div class="col-6"
                                         style="height: 100px; border: 1px solid; text-align: center; line-height: 100px;">
                                        +4
                                    </div>
                                </div>

                            </div>


                            <div class="card-body container">
                                <p class="tagList" th:text="${feed.tagList}">
                                    #spring #java
                                </p>
                                <div class="row">
                                    <div class="col-7 col-sm-6 text-start">
                                        <th:block th:if="${#arrays.contains(feed.likeUserList, 1L)}">
                                            <button class="btn btn-link col true" th:id="${'likeBtn' + feed.feedId}"
                                                    type="button">
                                                <i class="fa-solid fa-thumbs-up fa-sm"
                                                   th:id="${'likeIcon' + feed.feedId}"></i>
                                                &nbsp;+<span th:id="${'likeCnt' + feed.feedId}"
                                                             th:text="${feed.likeCnt}">0</span></button>
                                        </th:block>
                                        <th:block th:unless="${#arrays.contains(feed.likeUserList, 1L)}">
                                            <button class="btn btn-link col false" th:id="${'likeBtn' + feed.feedId}"
                                                    type="button">
                                                <i class="fa-regular fa-thumbs-up fa-sm"
                                                   th:id="${'likeIcon' + feed.feedId}"></i>
                                                &nbsp;+<span th:id="${'likeCnt' + feed.feedId}"
                                                             th:text="${feed.likeCnt}">0</span></button>
                                        </th:block>
                                        <script th:inline="javascript">
                                            document.querySelector(`#likeBtn[[${feed.feedId}]]`).addEventListener('click', () => {
                                                if (document.querySelector(`#likeBtn[[${feed.feedId}]]`).classList.contains('false')) {
                                                    let data = {
                                                        isLike: true,
                                                        feedId: [[${feed.feedId}]],
                                                    };
                                                    $.ajax({
                                                        type: "POST",
                                                        url: "/rest/like",
                                                        data: JSON.stringify(data),
                                                        contentType: "application/json; charset=utf-8",
                                                    }).done((response) => {
                                                        console.log(response);
                                                        document.querySelector(`#likeIcon[[${feed.feedId}]]`).classList.remove("fa-regular");
                                                        document.querySelector(`#likeIcon[[${feed.feedId}]]`).classList.add("fa-solid");
                                                        document.querySelector(`#likeBtn[[${feed.feedId}]]`).classList.remove("false");
                                                        document.querySelector(`#likeBtn[[${feed.feedId}]]`).classList.add("true");
                                                        document.querySelector(`#likeCnt[[${feed.feedId}]]`).innerHTML = response;
                                                    });
                                                } else {
                                                    let data = {
                                                        isLike: false,
                                                        feedId: [[${feed.feedId}]],
                                                    };
                                                    $.ajax({
                                                        type: "POST",
                                                        url: "/rest/like",
                                                        data: JSON.stringify(data),
                                                        contentType: "application/json; charset=utf-8",
                                                    }).done((response) => {
                                                        console.log(response);
                                                        document.querySelector(`#likeIcon[[${feed.feedId}]]`).classList.add("fa-regular");
                                                        document.querySelector(`#likeIcon[[${feed.feedId}]]`).classList.remove("fa-solid");
                                                        document.querySelector(`#likeBtn[[${feed.feedId}]]`).classList.add("false");
                                                        document.querySelector(`#likeBtn[[${feed.feedId}]]`).classList.remove("true");
                                                        document.querySelector(`#likeCnt[[${feed.feedId}]]`).innerHTML = response;
                                                    });
                                                }
                                            })
                                        </script>
                                        <button aria-expanded="true" class="btn btn-link col" data-bs-toggle="collapse"
                                                th:aria-controls="${'#Collapse' + feed.feedId}"
                                                th:data-bs-target="${'#Collapse' + feed.feedId}"
                                                type="button">
                                            <i class="fa-regular fa-comment fa-sm"></i>&nbsp;comment
                                        </button>
                                        <!-- <button type="button" class="btn btn-link col"><i class="fa-regular fa-comment fa-sm"></i>&nbsp;comment</button> -->
                                    </div>
                                    <div class="col-5 col-sm-6 text-end">
                                        <form method="get"
                                              style="display: none" th:action="@{'/community/update/' + ${feed.feedId}}"
                                              th:id="${'formEdit' + feed.feedId}">
                                            <!-- 숨겨진 form 수정 시 해당 feed의 id를 넘겨주기 위함-->
                                        </form>
                                        <button class="btn btn-link col" th:id="${'editBtn' + feed.feedId}"
                                                type="button">edit
                                        </button>
                                        <form method="post" name="frmDelete"
                                              style="display: none" th:action="@{/community/delete}"
                                              th:id="${'formDelete' + feed.feedId}">
                                            <input name="feedId" th:value="${feed.feedId}" type="hidden">
                                        </form>
                                        <button class="btn btn-link col text-danger"
                                                th:id="${'deleteBtn' + feed.feedId}"
                                                type="button">delete
                                        </button>
                                    </div>

                                </div>
                                <div class="accordion-collapse collapse hidden" th:id="${'Collapse' + feed.feedId}">
                                    <hr>
                                    <div class="accordion-body overflow-auto scrollbar"
                                         style="height: auto; max-height: 200px;" th:if="${feed.comments}">
                                        <div th:each="comment : ${feed.comments}">
                                            <div>
                                                <span style="font-size: 0.9em" th:text="${comment.user.nickname}">Nickname</span><span
                                                    class="text-danger cursor-pointer"
                                                    th:id="${'commentDelBtn' + comment.commentId}">&nbsp;&nbsp;X</span>
                                                <br>
                                                <span style="font-size: 0.8em" th:text="${comment.commentContent}">comment</span>
                                                <form class="visually-hidden" method="post"
                                                      th:action="@{/comment/delete}"
                                                      th:id="${'commentDel' + comment.commentId}">
                                                    <input name="commentId" th:value="${comment.commentId}"
                                                           type="hidden"/>
                                                </form>
                                                <script th:inline="javascript">
                                                    document.querySelector(`#commentDelBtn[[${comment.commentId}]]`).addEventListener('click', () => {
                                                        document.querySelector(`#commentDel[[${comment.commentId}]]`).submit();
                                                    })

                                                </script>

                                            </div>
                                            <div class="ms-4"><!-- 대댓글 -->
                                                <div th:each="reply: ${comment.replyDTOList}">
                                                    <div>
                                                        <span style="font-size: 0.9em" th:text="${reply.user.nickname}">Nickname</span><span
                                                            class="text-danger cursor-pointer"
                                                            th:id="${'replyDelBtn' + reply.replyId}">&nbsp;&nbsp;X</span>
                                                        <br>
                                                        <span style="font-size: 0.8em" th:text="${reply.replyContent}">comment</span>
                                                        <form class="visually-hidden" method="post"
                                                              th:action="@{/reply/delete}"
                                                              th:id="${'replyDel' + reply.replyId}">
                                                            <input name="replyId" th:value="${reply.replyId}"
                                                                   type="hidden"/>
                                                        </form>

                                                        <script th:inline="javascript">
                                                            document.querySelector(`#replyDelBtn[[${reply.replyId}]]`).addEventListener('click', () => {
                                                                document.querySelector(`#replyDel[[${reply.replyId}]]`).submit();
                                                            })
                                                        </script>

                                                    </div>
                                                </div>
                                            </div>
                                            <div class="text-muted mt-0 cursor-pointer" style="font-size: 0.8em"
                                                 th:id="${'reply' + comment.commentId}"
                                                 th:if="${comment}">답글달기
                                            </div>
                                            <form class="visually-hidden" method="post" th:action="@{/reply/write}"
                                                  th:id="${'replyFrm' + comment.commentId}">
                                                <input name="parentId" th:value="${comment.commentId}" type="hidden"/>
                                                <input name="feedId" th:value="${feed.feedId}" type="hidden"/>
                                                <input name="content" th:id="${'replyContent' + comment.commentId}"
                                                       type="hidden"/>
                                                <script th:inline="javascript">
                                                    document.querySelector(`#reply[[${comment.commentId}]]`).addEventListener('click', () => {
                                                        const re = document.getElementById(`isReply[[${feed.feedId}]]`);
                                                        re.classList.remove('visually-hidden');
                                                        const comment = [[${comment.commentContent}]];
                                                        document.getElementById(`showRoute[[${feed.feedId}]]`).innerHTML = `[[${comment.user.nickname}]] : ${comment.substr(0, 10)}...에 대한 답글 작성 중...`;
                                                        document.getElementById(`placehold[[${feed.feedId}]]`).placeholder = `답글을 작성하시오.`;

                                                        document.getElementById(`changeComment[[${feed.feedId}]]`).addEventListener('click', () => {
                                                            re.classList.add('visually-hidden');
                                                            document.getElementById(`placehold[[${feed.feedId}]]`).placeholder = `댓글 작성하시오.`;
                                                        })

                                                        document.querySelector(`#addComment[[${feed.feedId}]]`).addEventListener('click', (e) => {
                                                            if (!document.getElementById(`isReply[[${feed.feedId}]]`).classList.contains('visually-hidden')) { // comment
                                                                document.getElementById(`replyContent[[${comment.commentId}]]`).value = document.getElementById(`placehold[[${feed.feedId}]]`).value;
                                                                document.getElementById(`replyFrm[[${comment.commentId}]]`).submit();
                                                            }
                                                        })

                                                    })
                                                </script>
                                            </form>
                                            <br>
                                        </div>

                                    </div>
                                    <br>
                                    <form method="post" th:action="@{/comment/write}"
                                          th:id="${'commentFrm' + feed.feedId}">
                                        <input name="feedId" th:value="${feed.feedId}" type="hidden"/>

                                        <div class="row visually-hidden" th:id="${'isReply' + feed.feedId}">
                                            <div class="col-10" th:id="${'showRoute' + feed.feedId}"></div>
                                            <div class="col-2"><i class="fa-solid fa-xmark fa-xs cursor-pointer"
                                                                  th:id="${'changeComment' + feed.feedId}"></i></div>
                                        </div>

                                        <textarea class="col-12" name="content" placeholder="댓글을 작성하시오."
                                                  rows=2
                                                  th:id="${'placehold' + feed.feedId}"></textarea>
                                        <div>
                                            <span class="text-primary cursor-pointer" style="font-size: 0.8em;"
                                                  th:id="${'addComment' + feed.feedId }">등록
                                            </span>
                                            <span class="text-danger ms-1 cursor-pointer" style="font-size: 0.8em;"
                                                  th:id="${'cancelComment' + feed.feedId }">지우기
                                            </span>
                                        </div>
                                    </form>
                                    <script th:inline="javascript">

                                        document.querySelector(`#addComment[[${feed.feedId}]]`).addEventListener('click', (e) => {
                                            if (document.getElementById(`isReply[[${feed.feedId}]]`).classList.contains('visually-hidden')) { // comment
                                                document.getElementById(`commentFrm[[${feed.feedId}]]`).submit();
                                            }
                                        })

                                        document.querySelector(`#cancelComment[[${feed.feedId}]]`).addEventListener('click', (e) => {
                                            document.getElementById(`placehold[[${feed.feedId}]]`).value = "";
                                        })

                                    </script>
                                </div>
                            </div>
                        </div>
                    </div>
                    <script th:inline="javascript">
                        if (document.body.querySelector(`.more[[${feed.feedId}]]`) != null) {
                            document.body.querySelector(`.more[[${feed.feedId}]]`).addEventListener('click', () => {
                                const content = document.body.querySelector(`.feedText[[${feed.feedId}]]`);
                                let text = content.innerHTML;

                                if (text.length > 100) {
                                    content.innerHTML = [[${feed.shortContent}]];
                                    document.body.querySelector(`.more[[${feed.feedId}]] > p`).innerHTML = 'more...';
                                } else {
                                    content.innerHTML = [[${feed.feedContent}]];
                                    document.body.querySelector(`.more[[${feed.feedId}]] > p`).innerHTML = 'less...';
                                }
                            });
                        }

                        document.body.querySelector(`#editBtn[[${feed.feedId}]]`).addEventListener('click', () => {
                            document.body.querySelector(`#formEdit[[${feed.feedId}]]`).submit();
                            console.log('click')
                        });

                        document.body.querySelector(`#deleteBtn[[${feed.feedId}]]`).addEventListener('click', () => {
                            if (confirm("해당 피드글을 휴지통으로 보내시겠습니까??")) {
                                document.body.querySelector(`#formDelete[[${feed.feedId}]]`).submit();
                            }
                        });

                    </script>
                </div>

                <!--pagingnation-->


                <!-- pagination -->
                <th:block th:insert="~{community/pagination::pagination}"></th:block>
                <!-- pagination -->
            </div>
        </main>
        <footer class="py-4 bg-light mt-auto">
            <div class="container-fluid px-4">
                <div class="d-flex align-items-center justify-content-between small">
                    <div class="text-muted">Copyright &copy; Undefined Website 2023</div>
                    <div>
                        <a href="#">Privacy Policy</a>
                        &middot;
                        <a href="#">Terms &amp; Conditions</a>
                    </div>
                </div>
            </div>
        </footer>
    </div>
</div>
<script crossorigin="anonymous"
        src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/js/bootstrap.bundle.min.js"></script>
<script src="/js/communityMainPage.js"></script>
<script crossorigin="anonymous" src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.8.0/Chart.min.js"></script>
<script crossorigin="anonymous"
        src="https://cdn.jsdelivr.net/npm/simple-datatables@7.1.2/dist/umd/simple-datatables.min.js"></script>
</body>

</html>





