<!DOCTYPE html>
<html lang="ko" xmlns:th="https://www.thymeleaf.org">

<head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
    <meta name="description" content="" />
    <meta name="author" content="" />
    <title>Community Main Page</title>
    <link href="https://cdn.jsdelivr.net/npm/simple-datatables@7.1.2/dist/style.min.css" rel="stylesheet" />
    <link href="/css/styles.css" rel="stylesheet" />
    <script src="https://use.fontawesome.com/releases/v6.3.0/js/all.js" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootswatch@5.3.2/dist/sketchy/bootstrap.min.css">

    <style>
        .scrollbar::-webkit-scrollbar {
            width: 10px;
        }

        .scrollbar::-webkit-scrollbar-thumb {
            background:  #646464;
            border-radius: 10px;
        }

        .scrollbar::-webkit-scrollbar-track {
            background: #c8c8c8;
            border-radius: 10px;
        }

        #menubar::-webkit-scrollbar{
            display: none;
        }
    </style>
</head>

<body class="sb-nav-fixed">
<nav class="sb-topnav navbar navbar-expand navbar-dark bg-dark">
    <!-- Navbar Brand-->
    <a class="navbar-brand ps-3" href="index.html">Undefined</a>
    <!-- Sidebar Toggle-->
    <button class="btn btn-link btn-sm order-1 order-lg-0 me-4 me-lg-0" id="sidebarToggle" href="#!"><i
            class="fas fa-bars"></i></button>
    <!-- Navbar-->
    <ul class="navbar-nav ms-auto me-0 me-md-3 my-2 my-md-0">
        <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" id="navbarDropdown" href="#" role="button" data-bs-toggle="dropdown"
               aria-expanded="false"><i class="fas fa-user fa-fw"></i></a>
            <ul class="dropdown-menu dropdown-menu-end" aria-labelledby="navbarDropdown">
                <li><a class="dropdown-item" href="#!">Profile</a></li>
                <li>
                    <hr class="dropdown-divider" />
                </li>
                <li><a class="dropdown-item" href="#!">Login</a></li>
            </ul>
        </li>
    </ul>
</nav>
<div id="layoutSidenav">
    <div id="layoutSidenav_nav">
        <nav class="sb-sidenav accordion sb-sidenav-light" id="sidenavAccordion">
            <div class="sb-sidenav-menu">
                <div class="nav">
                    <!--Home-->
                    <div class="sb-sidenav-menu-heading">Home</div>
                    <a class="nav-link" href="index.html">
                        <div class="sb-nav-link-icon"><i class="fas fa-tachometer-alt"></i></div>
                        Dashboard
                    </a>

                    <!--Category-->
                    <div class="sb-sidenav-menu-heading">Category</div>
                    <!--Study-->
                    <a class="nav-link collapsed" href="#" data-bs-toggle="collapse"
                       data-bs-target="#collapseLayouts" aria-expanded="false" aria-controls="collapseLayouts">
                        <div class="sb-nav-link-icon"><i class="fas fa-book-open"></i></div>
                        Study/Project
                        <div class="sb-sidenav-collapse-arrow"><i class="fas fa-angle-down"></i></div>
                    </a>
                    <div class="collapse" id="collapseLayouts" aria-labelledby="headingOne"
                         data-bs-parent="#sidenavAccordion">
                        <nav class="sb-sidenav-menu-nested nav">
                            <a class="nav-link" href="layout-static.html">Menu1</a>
                            <a class="nav-link" href="layout-sidenav-light.html">Menu2</a>
                        </nav>
                    </div>

                    <!--QnA-->
                    <a class="nav-link collapsed" href="#" data-bs-toggle="collapse"
                       data-bs-target="#collapseQnA" aria-expanded="false" aria-controls="collapseQnA">
                        <div class="sb-nav-link-icon"><i class="fa-solid fa-comments"></i></div>
                        QnA
                        <div class="sb-sidenav-collapse-arrow"><i class="fas fa-angle-down"></i></div>
                    </a>
                    <div class="collapse" id="collapseQnA" aria-labelledby="headingOne"
                         data-bs-parent="#sidenavAccordion">
                        <nav class="sb-sidenav-menu-nested nav">
                            <a class="nav-link" href="layout-static.html">Menu1</a>
                            <a class="nav-link" href="layout-sidenav-light.html">Menu2 </a>
                        </nav>
                    </div>

                    <!--Job Info-->
                    <a class="nav-link collapsed" href="#" data-bs-toggle="collapse"
                       data-bs-target="#collapseJobInfo" aria-expanded="false" aria-controls="collapseJobInfo">
                        <div class="sb-nav-link-icon"><i class="fa-solid fa-circle-info"></i></div>
                        Job Info
                        <div class="sb-sidenav-collapse-arrow"><i class="fas fa-angle-down"></i></div>
                    </a>
                    <div class="collapse" id="collapseJobInfo" aria-labelledby="headingOne"
                         data-bs-parent="#sidenavAccordion">
                        <nav class="sb-sidenav-menu-nested nav">
                            <a class="nav-link" href="layout-static.html">Menu1</a>
                            <a class="nav-link" href="layout-sidenav-light.html">Menu2 </a>
                        </nav>
                    </div>

                    <!--Community-->
                    <a class="nav-link collapsed" href="#" data-bs-toggle="collapse" data-bs-target="#collapseCommu" aria-expanded="false" aria-controls="collapseCommu">
                        <div class="sb-nav-link-icon"><i class="fa-solid fa-users-between-lines"></i></div>
                        Community
                        <div class="sb-sidenav-collapse-arrow"><i class="fas fa-angle-down"></i></div>
                    </a>
                    <div class="collapse" id="collapseCommu" aria-labelledby="headingTwo" data-bs-parent="#sidenavAccordion">
                        <nav class="sb-sidenav-menu-nested nav accordion" id="sidenavAccordionPages">
                            <a class="nav-link" th:href="@{/community/list}">Main</a>
                            <a class="nav-link" th:href="@{/community/write}">Write</a>
                            <a class="nav-link collapsed" href="#" data-bs-toggle="collapse" data-bs-target="#collapseMyFeed" aria-expanded="false" aria-controls="collapseMyFeed">
                                My Feed
                                <div class="sb-sidenav-collapse-arrow"><i class="fas fa-angle-down"></i></div>
                            </a>
                            <div class="collapse" id="collapseMyFeed" aria-labelledby="headingOne" data-bs-parent="#sidenavAccordionPages">
                                <nav class="sb-sidenav-menu-nested nav">
                                    <a class="nav-link" th:href="@{/community/complete}">완료글</a>
                                    <a class="nav-link" th:href="@{/community/temporal}">임시저장</a>
                                    <a class="nav-link" th:href="@{/community/trash}">휴지통</a>
                                </nav>
                            </div>
                        </nav>
                    </div>

                    <div class="sb-sidenav-menu-heading">Account</div>
                    <a class="nav-link" href="charts.html">
                        <div class="sb-nav-link-icon"><i class="fas fa-chart-area"></i></div>
                        Profile
                    </a>
                    <a class="nav-link" href="tables.html">
                        <div class="sb-nav-link-icon"><i class="fas fa-table"></i></div>
                        Login
                    </a>
                </div>
            </div>
            <div class="sb-sidenav-footer">
                <div class="small">Logged in as:</div>
                undefined<!-- <= 로그인시 해당 유정의 닉네임으로 변경, 로그아웃시에는 undefined-->
            </div>
        </nav>
    </div>
    <div id="layoutSidenav_content">
        <main>

            <div class="container-fluid px-4">
                <div style="height: 30px;"></div>

                <!--search bar-->
                <div class="row justify-content-center">

                    <div class="d-flex justify-content-center mb-2" style="max-width: 576px;">
                        <form  class="w-100" id="searchForm" style="max-width: 576px;" th:action="@{/community/search}" method="get">
                            <fieldset class="d-flex">
                                <div class="form-group col-2">
                                    <select class="form-select" name="searchOption">
                                        <option class="dropdown-item" value="all" th:selected="${option} == 'all'">All</option>
                                        <option class="dropdown-item" value="nick" th:selected="${option} == 'nick'">Nickname</option>
                                        <option class="dropdown-item" value="tag" th:selected="${option} == 'tag'">Tag</option>
                                    </select>
                                </div>

                                <div class="form-group col-8">
                                    <input type="text" class="form-control" name="keyword" placeholder="search">
                                </div>

                                <button type="submit" class="btn btn-primary col-2" id="searchSubmit">Submit</button>
                            </fieldset>
                        </form>
                    </div>


                </div>

                <!--검색 결과 수 보여주기-->
                <div class="row justify-content-center">
                    <div class="text-start fs-6" style="max-width: 576px;">
                        <p>검색 결과 <span th:text="${totalCnt}">0</span> 개의 피드가 발견되었습니다. (<span th:text="${searchTime}">0.00</span> sec)</p>
                    </div>
                </div>

                <!--피드 글 보여주기-->
                <div class="row" th:each="feed : ${list}">
                    <div class="d-flex justify-content-center mt-1">
                        <div class="card mb-3" style="width: 576px;">
                            <div class="card-header container">
                                <div class="row">
                                    <h3 class="text-start col-9 col-sm-8 pt-2" th:text="${feed.user.nickname}">Nickname</h3>
                                    <p class="text-end col-3 col-sm-4 pt-3" style="font-size: 0.9em;" th:text="${#dates.format(feed.feedRegdate, 'yyyy.MM.dd hh:mm')}">
                                        2020.03.12
                                    </p>
                                </div>
                            </div>



                            <div class="card-body col-12">
                                <h5 class="card-title" th:text="${feed.feedTitle}">feed title</h5>
                                <p th:class="${'card-text col-12 feedText'+feed.feedId}" th:if="${feed.shortContent}" th:text="${feed.shortContent}">content</p>
                                <p th:class="${'card-text col-12 feedText'+feed.feedId}" th:unless="${feed.shortContent}" th:text="${feed.feedContent}">content</p>
                            </div>

                            <button th:class="${'btn btn-link text-start ps-0 more'+feed.feedId}" th:if="${feed.shortContent}" type="button">
                                <p class="card-text text-muted ms-3">more...</p>
                            </button>

                            <script th:inline="javascript">
                                const feedId = [[${feed.feedId}]];
                                const moreBtn = document.body.querySelector(`.more${feedId}`);
                                moreBtn.addEventListener('click', () => {
                                    const content = document.body.querySelector(`.feedText${feedId}`);
                                    let text = content.innerHTML;

                                    if(text.length > 100) {
                                        content.innerHTML = [[${feed.shortContent}]];
                                        document.body.querySelector(`.more${feedId} > p`).innerHTML = 'more...';
                                    } else {
                                        content.innerHTML = [[${feed.feedContent}]];
                                        document.body.querySelector(`.more${feedId} > p`).innerHTML = 'less...';
                                    }
                                });
                            </script>

                            <div class="container" style="padding: 0 25px;">
                                <div class="row">
                                    <div class="col-6" style="height: 100px; border: 1px solid; text-align: center; line-height: 100px;">photo1</div>
                                    <div class="col-6" style="height: 100px; border: 1px solid; text-align: center; line-height: 100px;">photo2</div>
                                </div>
                                <div class="row">
                                    <div class="col-6" style="height: 100px; border: 1px solid; text-align: center; line-height: 100px;">photo3</div>
                                    <div class="col-6" style="height: 100px; border: 1px solid; text-align: center; line-height: 100px;">+4</div>
                                </div>

                            </div>


                            <div class="card-body container">
                                <p class="tagList" th:text="${feed.tagList}">
                                    #spring #java
                                </p>
                                <div class="row">
                                    <div class="col-7 col-sm-6 text-start">
                                        <button type="button" class="btn btn-link col"><i class="fa-regular fa-thumbs-up fa-sm"></i>&nbsp;+<span th:text="${feed.likeCnt}">0</span></button>
                                        <button class="btn btn-link col" type="button" data-bs-toggle="collapse" th:data-bs-target="${'#Collapse' + feed.feedId}" aria-expanded="true" th:aria-controls="${'#Collapse' + feed.feedId}">
                                            <i class="fa-regular fa-comment fa-sm"></i>&nbsp;comment
                                        </button>
                                        <!-- <button type="button" class="btn btn-link col"><i class="fa-regular fa-comment fa-sm"></i>&nbsp;comment</button> -->
                                    </div>
                                    <div class="col-5 col-sm-6 text-end">
                                        <button type="button" class="btn btn-link col">edit</button>
                                        <button type="button" class="btn btn-link col text-danger">delete</button>
                                    </div>

                                </div>
                                <div th:id="${'Collapse' + feed.feedId}" class="accordion-collapse collapse hidden">
                                    <hr>
                                    <div class="accordion-body overflow-auto scrollbar" style="height: 150px;">
                                        <div th:each="comment : ${feed.comments}">
                                            <p>
                                                <span class="fs-5" th:text="${comment.writer}">Nickname</span>
                                                <br>
                                            >&nbsp;<span class="fs-6" th:text="${comment.outerContent}">comment</span>
                                            </p>
                                            <div class="ms-4">
                                                <div th:each="reply: ${comment.innerCommentDTOList}">
                                                    <p>
                                                        <span class="fs-5" th:text="${reply.writer}">Nickname</span>
                                                        <br>
                                                        >&nbsp;<span class="fs-6" th:text="${reply.innerContent}">comment</span>
                                                    </p>
                                                </div>
                                            </div>
                                            <div class="text-muted mt-0" th:if="${comment}">답글달기</div>
                                            <br>
                                        </div>

                                    </div>
                                    <br>
                                    <div class="text-muted">댓글달기</div>
                                </div>
                            </div>

                        </div>
                    </div>
                </div>

                <!-- <div class="card mb-4">
                    <div class="card-header">
                        <i class="fas fa-table me-1"></i>
                        DataTable Example
                    </div>
                    <div class="card-body">
                        <table id="datatablesSimple">
                            <thead>
                                <tr>
                                    <th>Name</th>
                                    <th>Position</th>
                                    <th>Office</th>
                                    <th>Age</th>
                                    <th>Start date</th>
                                    <th>Salary</th>
                                </tr>
                            </thead>
                            <tfoot>
                                <tr>
                                    <th>Name</th>
                                    <th>Position</th>
                                    <th>Office</th>
                                    <th>Age</th>
                                    <th>Start date</th>
                                    <th>Salary</th>
                                </tr>
                            </tfoot>
                            <tbody>
                                <tr>
                                    <td>Tiger Nixon</td>
                                    <td>System Architect</td>
                                    <td>Edinburgh</td>
                                    <td>61</td>
                                    <td>2011/04/25</td>
                                    <td>$320,800</td>
                                </tr>
                                <tr>
                                    <td>Garrett Winters</td>
                                    <td>Accountant</td>
                                    <td>Tokyo</td>
                                    <td>63</td>
                                    <td>2011/07/25</td>
                                    <td>$170,750</td>
                                </tr>
                                <tr>
                                    <td>Ashton Cox</td>
                                    <td>Junior Technical Author</td>
                                    <td>San Francisco</td>
                                    <td>66</td>
                                    <td>2009/01/12</td>
                                    <td>$86,000</td>
                                </tr>
                                <tr>
                                    <td>Cedric Kelly</td>
                                    <td>Senior Javascript Developer</td>
                                    <td>Edinburgh</td>
                                    <td>22</td>
                                    <td>2012/03/29</td>
                                    <td>$433,060</td>
                                </tr>
                                <tr>
                                    <td>Airi Satou</td>
                                    <td>Accountant</td>
                                    <td>Tokyo</td>
                                    <td>33</td>
                                    <td>2008/11/28</td>
                                    <td>$162,700</td>
                                </tr>
                                <tr>
                                    <td>Brielle Williamson</td>
                                    <td>Integration Specialist</td>
                                    <td>New York</td>
                                    <td>61</td>
                                    <td>2012/12/02</td>
                                    <td>$372,000</td>
                                </tr>
                                <tr>
                                    <td>Herrod Chandler</td>
                                    <td>Sales Assistant</td>
                                    <td>San Francisco</td>
                                    <td>59</td>
                                    <td>2012/08/06</td>
                                    <td>$137,500</td>
                                </tr>
                                <tr>
                                    <td>Rhona Davidson</td>
                                    <td>Integration Specialist</td>
                                    <td>Tokyo</td>
                                    <td>55</td>
                                    <td>2010/10/14</td>
                                    <td>$327,900</td>
                                </tr>
                                <tr>
                                    <td>Colleen Hurst</td>
                                    <td>Javascript Developer</td>
                                    <td>San Francisco</td>
                                    <td>39</td>
                                    <td>2009/09/15</td>
                                    <td>$205,500</td>
                                </tr>
                                <tr>
                                    <td>Sonya Frost</td>
                                    <td>Software Engineer</td>
                                    <td>Edinburgh</td>
                                    <td>23</td>
                                    <td>2008/12/13</td>
                                    <td>$103,600</td>
                                </tr>
                                <tr>
                                    <td>Jena Gaines</td>
                                    <td>Office Manager</td>
                                    <td>London</td>
                                    <td>30</td>
                                    <td>2008/12/19</td>
                                    <td>$90,560</td>
                                </tr>
                                <tr>
                                    <td>Quinn Flynn</td>
                                    <td>Support Lead</td>
                                    <td>Edinburgh</td>
                                    <td>22</td>
                                    <td>2013/03/03</td>
                                    <td>$342,000</td>
                                </tr>
                                <tr>
                                    <td>Charde Marshall</td>
                                    <td>Regional Director</td>
                                    <td>San Francisco</td>
                                    <td>36</td>
                                    <td>2008/10/16</td>
                                    <td>$470,600</td>
                                </tr>
                                <tr>
                                    <td>Haley Kennedy</td>
                                    <td>Senior Marketing Designer</td>
                                    <td>London</td>
                                    <td>43</td>
                                    <td>2012/12/18</td>
                                    <td>$313,500</td>
                                </tr>
                                <tr>
                                    <td>Tatyana Fitzpatrick</td>
                                    <td>Regional Director</td>
                                    <td>London</td>
                                    <td>19</td>
                                    <td>2010/03/17</td>
                                    <td>$385,750</td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div> -->

                <!--pagingnation-->
                <section class="d-flex justify-content-center mt-1">
                    <div>
                        <ul class="pagination pagination-sm">
                            <li class="page-item disabled">
                                <a class="page-link" href="#">&laquo;</a>
                            </li>
                            <li class="page-item active">
                                <a class="page-link" href="#">1</a>
                            </li>
                            <li class="page-item">
                                <a class="page-link" href="#">2</a>
                            </li>
                            <li class="page-item">
                                <a class="page-link" href="#">3</a>
                            </li>
                            <li class="page-item">
                                <a class="page-link" href="#">4</a>
                            </li>
                            <li class="page-item">
                                <a class="page-link" href="#">5</a>
                            </li>
                            <li class="page-item">
                                <a class="page-link" href="#">&raquo;</a>
                            </li>
                        </ul>
                    </div>
                </section>
            </div>
        </main>
        <footer class="py-4 bg-light mt-auto">
            <div class="container-fluid px-4">
                <div class="d-flex align-items-center justify-content-between small">
                    <div class="text-muted">Copyright &copy; Undefined Website 2023</div>
                    <div>
                        <a href="#">Privacy Policy</a>
                        &middot;
                        <a href="#">Terms &amp; Conditions</a>
                    </div>
                </div>
            </div>
        </footer>
    </div>
</div>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/js/bootstrap.bundle.min.js"
        crossorigin="anonymous"></script>
<script src="/js/scripts.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.8.0/Chart.min.js" crossorigin="anonymous"></script>
<script src="/assets/demo/chart-area-demo.js"></script>
<script src="/assets/demo/chart-bar-demo.js"></script>
<script src="https://cdn.jsdelivr.net/npm/simple-datatables@7.1.2/dist/umd/simple-datatables.min.js"
        crossorigin="anonymous"></script>
</body>

</html>





